main {
    background: linear-gradient(to bottom, rgb(21, 189, 223), rgb(0, 255, 213));
}

.título{
    color: blue;
    font-size: 40px;
    text-align: center;
}

.centro{
    text-align: center;
}

p {
    text-align: justify;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.guido{
    width: 30%;
    border: dashed red 10px;
    margin-left: 35%;
    padding: 30px;
}
